body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(231 230 230 / 82%);
}
* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input,
input:focus {
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
}

/*--------------------------- Nav Bar Styling ------------------------*/
.nav {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
}
.search-container {
    height: 60%;
    width: 380px;
}

.search-form {
    width: 100%;
    height: 100%;
}

.search-form > input,
.search-form > button {
    display: inline-block;
    height: 100%;
    width: 280px;
}

.movie-card,
.favourite-btn,
.list,
.left img {
    border-radius: 4px;
}

.App button {
    cursor: pointer;
}

/******************** Navbar Search Styling  *********************/
#search-btn {
    border: 1px solid white;
    border-left: 1px solid black;
    background-color: white;
    width: 100px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
#search-btn:hover {
    background-color: transparent;
    color: white;
}
.searched--movies {
    background-color: white;
    box-shadow: 1px 1px 1px 1px white;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/********************* Searched Movie Card Styling **********************/
.movie-card.searched-card {
    min-width: 100%;
    font-size: 0.8rem;
}
.movie-card.searched-card .left {
    grid-column: 1 / span 4;
}
.movie-card.searched-card .right {
    grid-column: 5/-1;
}
.movie-card.searched-card .left img {
    height: 100%;
    object-fit: cover;
}
.searched-card .favourite-btn {
    min-height: 20px;
}

/*------------------- Main APP Styling -----------------------------*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}
/******************Tab Styling*******************/
.tab {
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.1s ease-in-out;
    box-shadow: 1px 1px 1px black;
    background-color: white;
}

/*************Active Tab Styling*****************/
.tab.active {
    z-index: 2;
    transform: scale(1.1);
    color: white;
    font-weight: bolder;
    background-color: red;
}
/*********** Hover Tab Styling *******************/
.tab:hover {
    background-color: red;
    color: white;
}

/************** Movies List Container Styling *********************/

.list {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    /* border: 1px solid black; */
}

/************************ Movie Card Styling *************************/
.movie-card {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    min-width: 80%;
    max-width: 90%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
    box-shadow: 2px 3px 4px 0px #bbbaba82, -1px -3px 4px 0px #bdbdbd42;
}

/****************** Everything inside movie card poistion relative and overflow hidden for lazy loader ***********************/
.movie-card * {
    position: relative;
    overflow: hidden;
}

.m-h {
    min-height: 200px;
}
.m-h * {
    min-height: 50px;
}

.left {
    grid-column: 1 / span 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img {
    width: 100%;
    vertical-align: bottom;
}
.right {
    grid-column: 4 / -1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
}
.right > .title {
    font-weight: bolder;
    border-bottom: 1px solid grey;
    padding-bottom: 0.3rem;
}

.favourite-btn {
    border: none;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    font-weight: bolder;
    border: 1px solid grey;
    transition: all 0.1s;
}
.favourite-btn:hover {
    background-color: rgb(53, 51, 51);
    color: white;
}
.rating {
    color: red;
    font-weight: bolder;
}

.fav {
    background-color: rgb(37, 163, 247);
    color: white;
    border: none;
    animation: blink 0.2s ease-in-out 1;
}

/* Movie Card => Footer */

.movie-card .footer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
/*************Movie Card Syling End ******************/

/********************* Lazy Loader*********************/
.lazyloader::before {
    filter: blur(10px);
    z-index: -1;
    content: "";
    position: absolute;
    background-color: rgba(180, 180, 180, 0.651);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: lazyloding 1s ease infinite;
    animation-fill-mode: both;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

/* For Devices smaller than 400px */
@media only screen and (max-width: 400px) {
    .search-container {
        width: 320px;
    }
    .search-form input {
        width: 80%;
    }
    #search-btn {
        width: 20%;
    }
}
@media only screen and (max-width: 1024px) {
    .list {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .left {
        grid-column: 1/-1;
    }
    .left img {
        width: 100%;
    }
    .right {
        grid-column: 1/-1;
    }
}
@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Basic Lazy Loading  Animation  */
@keyframes lazyloding {
    0% {
        transform: scale(5) translate(-10%, -10%);
    }
    100% {
        transform: scale(10);
    }
}
